Repository kubernetes-sigs/security-profiles-operator, pull requests merged in 2024-01, with the labels that each got.

#2058 Add an option to specific what selinuxd image to use during e2e test
  test/suite_test.go
Labels: cncf-cla: yes, kind/failing-test, size/S, lgtm, release-note-none, approved

#1979 Move e2e manifest updates to the suite layer
  test/e2e_test.go
  test/suite_test.go
Labels: cncf-cla: yes, ok-to-test, lgtm, release-note-none, approved, size/XS

#2091 Re-enable Fedora Vagrant based tests
  .github/workflows/test.yml
  dependencies.yaml
  examples/baseprofile-crun.yaml
  examples/baseprofile-runc.yaml
  hack/ci/Vagrantfile-ubuntu
  hack/ci/baseprofiles.sh
  hack/ci/e2e-fedora.sh
  installation-usage.md
  test/tc_base_profiles_test.go
Labels: cncf-cla: yes, kind/failing-test, lgtm, release-note-none, approved, size/M
